{% extends "base.html" %}

{% block content %}

<h1>注册</h1>
<form action="" method="post" name="register">
    {{form.hidden_tag()}}
    <p>
        昵称<br>
        {{form.nickname(class="form-control")}}<br>
        {% for error in form.nickname.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        邮箱<br>
        {{form.email(class="form-control")}}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        密码<br>
        {{form.password(class="form-control")}}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
        确认密码<br>
        {{form.password2(class="form-control")}}<br>
        {% for error in form.password2.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" class="btn btn-default" value="注册"></p>
    <p>
        <a href="{{ url_for('auth.login') }}">已有账户，前往登录</a>
    </p>
</form>
{% endblock %}