{% extends "base.html" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-3 column">
        <a href="{{ url_for('message.letter_message') }}" class="list-group-item btn btn-info btn-lg">
          <span class="glyphicon glyphicon-envelope"></span> 私信
        </a><hr>
        <a href="{{ url_for('message.comment_message') }}" class="list-group-item">
            <span class="badge">{{ comments }}</span><span class="glyphicon glyphicon-comment"></span> 评论
        </a>
        <a href="#" class="list-group-item active">
            <span class="glyphicon glyphicon-thumbs-up"></span> 点赞
        </a>
        <a href="{{ url_for('message.follow_message') }}" class="list-group-item">
            <span class="badge">{{ follow }}</span><span class="glyphicon glyphicon-star"></span> 关注
        </a>
    </div>
    <div class="col-md-9 column">
        最近获得的赞<hr>
        {% if likes == [] %}
        <h4>最近没有获得过赞哦。</h4>
        {% else %}
        <ul class="list-group">
            {% for like in likes %}
            <li class="list-group-item">
                <div>
                    <a href="{{ url_for('user.users',nickname=like.user.nickname) }}">
                        {{ like.user.nickname }}
                    </a>赞了你的文章
                    <a href="{{ url_for('user.post',id=like.post.id) }}">
                        《{{ like.post.title }}》
                    </a>。
                    <span class="right"><i>{{ moment(like.timestamp).fromNow() }}</i></span>
                </div>
            </li><br>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}