/*自己的样式*/
body{
    background-color: #BFD1D4;
}
.right{
    margin: 0 5px 0 5px;
    float: right;
}
.main{
    margin: 12px 0;
    padding: 40px;
    background: #fcfcf7;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}
.comments{
    text-indent: 35px;
}
.images{
    margin-right: 20px;
}
.taga{
    color: #dde6ef;
}