{% extends "base.html" %}

{% block content %}

<div class="panel panel-default">
	<div class="panel-heading">简单管理员登录</div>
	<div class="panel-body">
		<p>
            你好啊，管理员。欢迎登录管理网站。
		</p>
        <form action="" method="post" name="login">
            {{form.hidden_tag()}}
            <p>
                邮箱<br>
                {{form.email(class="form-control")}}<br>
                {% for error in form.email.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
                密码<br>
                {{form.password(class="form-control")}}<br>
                {% for error in form.password.errors %}
                    <span style="color: red;">[{{error}}]</span>
                {% endfor %}<br>
            </p>
            <p><input type="submit" class="btn btn-default" value="登录"></p>
        </form>
    </div>
</div>
{% endblock %}