 {% for post in posts %}
    <table>
    <tr>
    <td>
    <a href="{{url_for('user', nickname=post.author.nickname)}}">
        <img class="images" src="{{post.author.gravatar(size=40)}}">
    </a>
    </td>
    <td>
    <a href="{{url_for('user',nickname=post.author.nickname)}}">
        {{post.author.nickname}}
    </a>
    </td>
    </tr>
    <tr>
    <td></td>
    <td>
    <h5>
        <a href="{{url_for('post', id=post.id)}}"><h4>{{post.title}}</h4></a>
    </h5>
    <p>
        {% if post.body_html %}
            {{ post.body_html | safe | truncate(250) }}
        {% else %}
            {{post.body | truncate(250)}}
        {% endif %}
    </p>
    <p>
        {% if current_user == post.author %}
        <a class="btn" href="{{ url_for('edit', id=post.id) }}">
            <span>编辑 >></span>
        </a>
        {% elif current_user.is_administrator() %}
        <a class="btn" href="{{ url_for('edit', id=post.id) }}">
            <span>编辑【管理员】</span>
        </a>
        {% endif %}
    </p>
    </td>
    </tr>
    </table>
    <hr>
 {% endfor %}