<div class="outline">
    <a href="{{url_for('user.users', nickname=post.author.nickname)}}">
        <img class="images" src="{{post.author.gravatar(size=40)}}">
    </a>
    <a href="{{url_for('user.users',nickname=post.author.nickname)}}">
        {{post.author.nickname}}
    </a><i>{{ moment(post.timestamp).fromNow() }}发布</i>
     <i class="right">浏览：<span class="badge">{{ post.view_num }}</span></i>
    <i class="right">评论：<span class="badge">{{ post.comments.count() }}</span></i>
    <i class="right">点赞：<span class="badge">{{ post.like_num.count() }}</span></i>
</div>
<div class="art_outline">
    <div class="title">
        <a href="{{url_for('user.post', id=post.id)}}"><h4>{{post.title}}</h4></a>
    </div>
    <div>
        {% if post.body_html %}
        {{ post.body_html | striptags | truncate(250) }}
        {% else %}
            {{post.body | truncate(250)}}
        {% endif %}
    </div>
    <p>
        {% if current_user == post.author %}
        <a href="{{ url_for('user.edit', id=post.id) }}">
            <span>编辑 >></span>
        </a>
        {% elif current_user.is_administrator() %}
        <a href="{{ url_for('user.edit', id=post.id) }}">
            <span>编辑【管理员】</span>
        </a>
        {% endif %}
    </p>
</div>
