<table>
    <tr valign="top">
        <td><img src="{{post.author.gravatar(50)}}"> </td>

        <td><i>{{post.author.nickname}}：</i><br>
            <a href="{{url_for('post', id=post.id)}}">{{post.title}}</a><br>
            {% if post.body_html %}
                {{ post.body_html | safe | truncate(250) }}
            {% else %}
                {{post.body | truncate(250)}}
            {% endif %}
        </td>
        <td>
            {% if current_user == post.author %}
            <a href="{{ url_for('edit', id=post.id) }}">
                <span>编辑</span>
            </a>
            {% elif current_user.is_administrator() %}
            <a href="{{ url_for('edit', id=post.id) }}">
                <span>编辑【管理员】</span>
            </a>
            {% endif %}
        </td>
    </tr>
</table>