<!DOCTYPE html>
<html>
  <head>
      {% if title %}
      <title>{{ title }} - Simpleblog</title>
      {% else %}
      <title>Simpleblog</title>
      {% endif %}
      <meta charset="UTF-8">
  </head>
  <body>
    <div>Simpleblog：<a href="/index">首页</a> </div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{message}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <div>
        {% block content %}
        {% endblock %}
    </div>
  </body>
</html>