{% extends "base.html" %}

{% block content %}
<h1>草稿</h1><hr>
{% if drafts %}
{% for draft in drafts %}
    <ol>
        <li>
            <h4>{{ draft.title }}</h4>
            <p>
                {% if draft.body_html %}
                    {{ draft.body_html | safe | truncate(100) }}
                {% else %}
                    {{ draft.body | truncate(100) }}
                {% endif %}
            </p>
            <a class="taga" href="{{ url_for('delate',id=draft.id) }}"><span class="label label-danger">删除</span></a>
            <a class="taga" href="{{ url_for('edit',id=draft.id) }}"><span class="label label-primary">编辑</span></a>
        </li><hr>
    </ol>
{% endfor %}
{% endif %}
{% endblock %}