{% extends "base.html" %}

{% block content %}
<h1>编辑文章</h1>
<form action="" method="post" name="editpost">
    {{form.hidden_tag()}}
    <p>
        标题<br>
        {{form.title(class="form-control")}}<br>
        {% for error in form.title.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        文章<br>
        {{form.body(class="form-control",rows="30")}}<br>
        {% for error in form.body.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input class="btn btn-default" type="submit" value="更新"></p>
    <p><input class="btn btn-default" type="submit" value="保存草稿"></p>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}
{% endblock %}