{% extends "base.html" %}
{% import "_pages.html" as page %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-8 column">
        <ul class="nav nav-tabs">
            <li {% if show_followed %}class="active"{% endif %}>
                 <a href="{{ url_for('show_follower',nickname=user.nickname) }}">粉丝</a>
            </li>
            <li {% if not show_followed %}class="active"{% endif %}>
                 <a href="{{ url_for('show_followed',nickname=user.nickname) }}">关注</a>
            </li>
        </ul>
        <br>
        {% for follow in follows %}
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{{ url_for('user',nickname=follow.user.nickname) }}">{{ follow.user.nickname }}</a>
                <span class="right">{{ moment(follow.timestamp).fromNow() }}</span>
                {% if current_user.operation(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a class="right" href="{{ url_for('follow', nickname=user.nickname) }}">关注</a>
                    {% else %}
                    <a class="right" href="{{ url_for('unfollow', nickname=user.nickname) }}">取消关注</a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
        {% endfor %}
        <hr>
        <div class="pagination">
            {{ page.pages(pagination, 'follows', nickname=user.nickname) }}
        </div>
        <hr>
    </div>
    <div class="col-md-4 column">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">推荐文章</h4>
            </div>
            <div class="panel-body">
                {% for post in user.posts %}
                <a href="{{ url_for('post', id=post.id) }}">
                    {{ post.title }}
                </a><hr>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}