{% extends "base.html" %}
{% import "_pages.html" as page %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h3>
        Hello,
        {% if current_user.is_authenticated %}
            {{ current_user.nickname }}，欢迎浏览，写篇文章吧。
        {% else %}
            World
        {% endif %}
        </h3>
        {% if current_user.operation(Permission.WRITE_ARTICLES) %}
        <a href="{{url_for('write')}}">
            <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-pencil"></span> 写文章
            </button>
        </a>
        <a href="">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-file"></span> 草稿
            </button>
        </a>
        {% endif %}

    </div>
</div>


<hr>
{% if posts %}

{% include "_posts.html" %}

{{ page.pages(posts, 'index') }}
{% endif %}
{% endblock %}

