{% extends "base.html" %}

{% block content %}

<h1>登录</h1>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        登录邮箱<br>
        {{form.email(size=80)}}<br>
        {% for error in form.email.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        登录密码<br>
        {{form.password(size=80)}}<br>
        {% for error in form.password.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>{{form.remember_me}} 记住我</p>
    <p><input type="submit" value="登录"></p>

    <p>
        新用户？
        <a href="{{ url_for('register') }}">
            立即注册
        </a>
    </p>
</form>
{% endblock %}