{% extends "base.html" %}
{% import "_pages.html" as page %}

{% block content %}
{% if posts %}
{% for post in posts %}
<h3 align="center">{{ post.title }}</h3>
<p align="center"><a href="{{ url_for('user', nickname=post.author.nickname) }}">{{ post.author.nickname }}</a> </p>
<p>
    {% if post.body_html %}
        {{ post.body_html | safe }}
    {% else %}
        {{post.body }}
    {% endif %}
</p>
{% endfor %}
{% endif %}
<hr>
<h3><i>{{ post.comments.count() }}条评论</i></h3>
<div>
    {% if comments %}
    {% for comment in comments %}
    <ul class="list-group">
        <li class="list-group-item">
            <div>
                <img src="{{comment.author.gravatar(size=30)}}">
                <a href="{{url_for('user', nickname=comment.author.nickname)}}">
                    {{ comment.author.nickname }}
                </a>:
                <span class="right">{{ moment(comment.timestamp).fromNow() }}发布</span>
            </div>
            <div class="comments">
                <p>
                {% if comment.body_html %}
                    {{ comment.body_html | safe }}
                {% else %}
                    {{ comment.body }}
                {% endif %}
                </p>
            </div>
        </li>
    </ul>
    {% endfor %}
    {% endif %}
</div>
<div class="pagination">
    {{ page.pages(pagination, 'post', fragment='#comments', id=posts[0].id) }}
</div>
<hr>
<form action="" method="post" name="comment">
    {{form.hidden_tag()}}
    <p>
        评论<br>
        {{form.body(size=80)}}<br>
        {% for error in form.body.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p>
        {% if current_user.is_authenticated %}
        <input type="submit" value="发表">
        {% else %}
        <a href="{{ url_for('login') }}">
            登录
        </a>
        {% endif %}
    </p>
</form>

{% endblock %}