{% extends "base.html" %}

{% block content %}
<h4>回复{{ comment.author.nickname }}</h4>
<hr>
<div>
    <img src="{{comment.author.gravatar(size=30)}}">
    <a href="{{url_for('user', nickname=comment.author.nickname)}}">
        {{ comment.author.nickname }}
    </a>:
</div>
<div class="comments">
    <p>
    {% if comment.body_html %}
        {{ comment.body_html | safe }}
    {% else %}
        {{ comment.body }}
    {% endif %}
    </p>
</div>
<hr>
<form action="" method="post" name="reply">
{{form.hidden_tag()}}
{{form.body(class="form-control",rows="3")}}<br>
{% for error in form.body.errors %}
    <span style="color: red;">[{{error}}]</span>
{% endfor %}<br>
<p>
    <input type="submit" value="发表">
</p>
</form>
{% endblock %}