{% extends "base.html" %}

{% block content %}
<table>
    <tr valign="top">
        <td><img src="{{user.gravatar(128)}}"></td>
        <td>
            <h1>{{user.nickname}}的资料</h1>
            {% if user.about_me %}<p>{{user.about_me}}</p>{% endif %}
            {% if user.last_seen %}<p><i>最后离开时间：{{user.last_seen}}</i></p>{% endif %}
            {% if user == current_user %}<p><a href="{{url_for('editprofile')}}">编辑资料</a> </p>{% endif %}
        </td>
    </tr>
</table>
<hr>
{% if posts %}
{% for post in posts %}
    {% include "_posts.html" %}
{% endfor %}
{% endif %}

{% endblock %}