{% extends "base.html" %}

{% block content %}

<h1>写文章</h1>
<form action="" method="post" name="write">
    {{form.hidden_tag()}}
    <p>
        标题<br>
        {{form.title(size=130)}}<br>
        {% for error in form.title.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        文章<br>
        {{form.body(cols=130,rows=10)}}<br>
        {% for error in form.body.errors %}
            <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
    </p>
    <p><input type="submit" value="发布"></p>
    <p><input type="submit" value="保存草稿"></p>
</form>
{% if post.body_html %}
    {{ post.body_html | safe }}
{% endif %}
{% endblock %}

{% block scripts %}
{{ pagedown.include_pagedown() }}
{% endblock %}